html{
    scroll-behavior: smooth;
}
body{
    background-image: url(img/bblack.jpg);
    background-color: #000000;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    margin: 0px;
}
h2{
    color: white;
    margin: 0px;
}
p{
    color: white;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    display: inline-flex; 
    list-style: none; 
    padding: 0; 
    margin: 0;
    gap: 30px; 
    border: 1px solid #4d4d4d;
    padding: 15px 40px;
    border-radius: 7.5px;
    background-color: #1a1a1a;
    margin-top: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    transition: color 500ms;
}
nav a:hover{
    color: #3b82f6;
    transition: color 500ms;
}
.text-blue{
    color: #3b82f6;
}
.container-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 550px;
    width: 600px;
    margin: 0 auto;
}
.container-main h1{
    font-size: 4rem;
    font-weight: 700;
}
.intro{
    color: #8b8a8a;
    font-weight: 500;
    font-size: 1.25rem;
}
.container-main2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    gap: 20px;
}
.container-main2 img{
    width: 20px;
    height: 20px;
}
.container-main2 a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    color: white;
    gap: 10px;
}
.container-main2 button{
    border: 1px solid #4d4d4d;
    background-color: #1a1a1a;
    border-radius: 7.5px;
    padding: 0px 25px;
    transition: background-color 500ms;
}
.container-main2 button:hover{
    background-color: #ffffff33;
    transition: background-color 500ms;
}
.container-main2 button img{
    width: 16px;
    height: 16px;
}
.container-tech{
    display: flex;
    flex-direction: column;
    margin: 350px 0px 0px 280px;
}
.tech-disc{
    display: flex;
    flex-direction: column;
}
.tech-disc p{
    font-size: 14px;
}
.tech-disc h1{
    font-size: 48px;
}
.column{
    display: flex;
    flex-direction: column;
}
.tech{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 8px;
    width: 275px;
    transition: background-color 500ms;
}
.tech:hover{
    background-color: #ffffff2f;
    transition: background-color 500ms;
}
.tech-HTML{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff730050;
    padding: 10px;
    border-radius: 7px;
}
.tech img{
    width: 40px;
    height: 40px;
}
.tech-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px 20px;
}
.tech-text h2{
    color: white;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}
.tech-text p{
    color: #ffffffb3;
    margin: 0px;
    font-size: 14px;
}
.tech-CSS{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0044ff2d;
    padding: 10px;
    border-radius: 7px;
}
.tech-JS{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe60050;
    padding: 10px;
    border-radius: 7px;
}
.container-tech2{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
}
.Main{
    margin: 100px 0px 0px 280px;
}
.Main h1{
    font-weight: 700;
    font-size: 48px;
}
.container-project{
    background-color: #1a1a1a;
    display: inline-flex;
    padding: 25px 25px 10px 25px;
    border-radius: 10px;
    flex-direction: column;
    margin-top: 20px;
}
.project-img{
    height: 400px;
    width: 500px;
    border-radius: 10px;
}
.Project-nb{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 325px;
    margin-top: 10px;
}
.Project-nb button{
    background-color: #3b82f6;
    padding: 15px;
    border-radius: 15px;
    border: none;
}
.Project-nb img{
    width: 20px;
    height: 20px;
}
.Project-nb h2{
    font-size: 30px;
    font-weight: 600px;
}
table{
    color: white;
    text-align: center;
    width: 500px;
    height: 250px;
    border-collapse: collapse;
    margin-top: 30px;
}
thead{
    height: 60px; 
}
th{
    background-color: #3b83f680;
}
td{
    background-color: #1a1a1a;
    transition: background-color 500ms;
    border-bottom: 1px solid #4d4d4d;
}
table tr:hover td {
    background-color: #ffffff2f;
    transition: background-color 500ms;
}
.Main p{
    font-size: 14px;
}